html *,
html *:before,
html *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #111111;

  section {
    z-index: 1;
  }

  /*---01 Header---*/
  .header-about,
  .header-contact {
    background: none !important;
  }

  header {
    background: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 60px 0px;
    z-index: 5;

    .header {
      width: 100%;
      z-index: 3;
      height: auto;
      position: fixed;
      width: 100%;

      .menu-top {
        padding: 0px 50px;
      }
    }

    nav {
      font-family: 'Poppins';
      font-size: 14px;
      font-weight: 400;
      float: right;
      height: 75%;
      display: flex;
      align-items: center;

      ul {
        list-style: none;

        li {
          display: inline-block;

          a {
            color: #fff;
            width: 100px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 2;
          }

          a:hover {
            text-decoration: none;
            color: #fff;
          }

          a:hover:after {
            content: " ";
            display: block;
            background: #6633ff;
            position: absolute;
            top: -15px;
            left: 0px;
            right: 0px;
            width: 50px;
            height: 25px;
            z-index: -1;
          }

          a.active:after {
            content: " ";
            display: block;
            background: #6633ff;
            position: absolute;
            top: -15px;
            left: 0px;
            right: 0px;
            width: 50px;
            height: 25px;
            z-index: -1;
          }
        }
      }
    }

    .content-header {
      position: relative;
      min-height: 600px;

      .left-text {
        transform: rotate(180deg);
        position: absolute;
        height: 100%;
        width: 60px;
        top: 0px;
        left: 0px;
        text-align: center;
        display: flex;
        align-items: center;

        a {
          writing-mode: vertical-lr;
          display: inline-block;
          vertical-align: top;
          color: #fff;
          padding: 20px 20px;
          font-family: 'Merriweather';
          font-weight: 400;
          font-size: 10px;
          letter-spacing: 1px;
        }
      }

      .center-text {
        display: inline-block;
        vertical-align: top;
        width: 60%;
        padding: 40px 5%;
        max-width: 800px;
        position: absolute;
        left: 6.5%;
        top: 50%;
        margin-top: -200px;

        span {
          display: block;
          font-family: 'Poppins';
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 4px;
          color: #fff;
          line-height: 26px;
          text-transform: uppercase;
        }

        h2 {
          font-family: 'Merriweather';
          font-weight: 400;
          font-size: 50px;
          line-height: 60px;
          letter-spacing: 4px;
          font-weight: 100;
          color: #fff;
          margin: 20px 0px;
        }

        p {
          display: block;
          font-family: 'Poppins';
          font-size: 12px;
          letter-spacing: 1px;
          color: #fff;
          line-height: 26px;
          position: relative;
        }

        p::before {
          content: " ";
          display: block;
          height: 1px;
          width: 100px;
          background: #fff;
          margin: 30px 0px;
          margin-left: -50px;
        }

        label {
          display: block;
          position: relative;

          a {
            display: block;
            font-family: 'Merriweather';
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
            margin-top: 60px;
            position: relative;
            z-index: 2;
            text-decoration: none;
          }
        }

        label::after {
          content: " ";
          display: block;
          background: #6633ff;
          position: absolute;
          top: -14px;
          left: -25px;
          width: 100px;
          height: 25px;
          z-index: 1;
          transition: .3s ease-in-out;
        }
      }

      .right-text {
        transform: rotate(180deg);
        position: absolute;
        height: 100%;
        width: 60px;
        top: 0px;
        right: 0px;
        text-align: center;
        display: flex;
        align-items: center;

        a {
          writing-mode: vertical-lr;
          display: inline-block;
          vertical-align: top;
          color: #fff;
          padding: 20px 20px;
          font-family: 'Merriweather';
          font-weight: 400;
          font-size: 10px;
          letter-spacing: 1px;
          text-transform: uppercase;
          position: relative;
        }

        a:before {
          content: " ";
          height: 60px;
          width: 1px;
          background: #fff;
          display: inline-block;
          vertical-align: top;
          text-align: center;
          margin: 0px 7px 30px 0px;
          position: absolute;
          top: -60px;
          left: 25px;
        }
      }
    }
  }

  /*---02 About---*/
  section.about {
    width: 80%;
    display: block;
    text-align: center;
    margin: 100px auto;
    position: relative;
    background-color: #111111;

    h2 {
      position: absolute;
      z-index: 1;
      font-family: 'Poppins';
      font-size: 200px;
      font-weight: bold;
      color: #0f0f0f;
      letter-spacing: 30px;
      line-height: 154px;
      left: -4%;
      height: 154px;
      text-align: center;
      top: 20%;
      overflow: hidden;
      margin: auto;
      left: 0;
      right: 0;
    }

    .image {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      position: relative;

      img {
        width: 70%;
        z-index: 2;
        position: relative;
        -webkit-box-shadow: 2px 2px 40px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 2px 40px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 40px 0px rgba(0, 0, 0, 0.75);
      }

      .line {
        display: block;
        width: 1px;
        height: 100px;
        background: #fff;
        margin: -60px auto;
        z-index: 3;
        position: relative;
      }
    }

    .image::before {
      content: " ";
      display: block;
      position: absolute;
      left: 0%;
      top: 100px;
      height: 60px;
      width: 60px;
      background: url(../img/point-top-about.png)no-repeat;
      background-size: contain;
      background-position: 50% 50%;
      z-index: 1;
      transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
    }

    .image::after {
      content: " ";
      display: block;
      position: absolute;
      right: 0%;
      bottom: 25%;
      height: 200px;
      width: 200px;
      background: url(../img/point-about.png)no-repeat;
      background-size: contain;
      background-position: 50% 50%;
      z-index: 1;
      transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
    }

    label {
      display: block;
      position: relative;
      width: 170px;
      margin: 0px auto 40px auto;

      h3 {
        display: block;
        font-family: 'Merriweather';
        font-size: 50px;
        color: #fff;
        letter-spacing: 4px;
        position: relative;
        z-index: 2;
        text-decoration: none;
        margin-top: 100px;
      }
    }

    label::after {
      content: " ";
      display: block;
      background: #6633ff;
      position: absolute;
      top: 33px;
      left: -25px;
      width: 180px;
      height: 25px;
      z-index: 1;
      transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
    }

    p {
      display: block;
      font-family: 'Merriweather';
      font-size: 14px;
      font-style: italic;
      letter-spacing: 1px;
      color: #fff;
      line-height: 26px;
      position: relative;
      max-width: 800px;
      margin: auto;
    }

    span {
      display: block;
      font-family: 'Poppins';
      font-size: 12px;
      letter-spacing: 2px;
      color: #fff;
      line-height: 26px;
      position: relative;
      margin-top: 20px;
    }
  }

  /*---03 My work---*/
  section.my-work {

    .title {
      margin: auto;
      position: relative;
      padding-bottom: 100px;

      h2 {
        font-family: 'Merriweather';
        font-weight: 400;
        font-size: 35px;
        line-height: 50px;
        letter-spacing: 3px;
        font-weight: 100;
        color: #fff;
        margin: 20px 0px;
        z-index: 2;
        position: relative;
      }

      h2::after {
        content: " ";
        display: block;
        height: 1px;
        width: 100px;
        background: #fff;
        margin: 30px 0px;
        margin-left: -50px;
      }

      p {
        display: block;
        font-family: 'Poppins';
        font-size: 12px;
        letter-spacing: 2px;
        color: #fff;
        line-height: 26px;
        position: relative;
        margin-top: 20px;
        z-index: 2;
        width: 50%;
      }

      b {
        position: absolute;
        z-index: 1;
        font-family: 'Poppins';
        font-size: 200px;
        font-weight: bold;
        color: #0f0f0f;
        letter-spacing: 30px;
        line-height: 154px;
        height: 154px;
        text-align: center;
        bottom: -10%;
        left: -10%;
        overflow: hidden;
      }
    }

    .more-gallery {
      display: inline-block;
      vertical-align: top;
      color: #fff;
      padding: 20px 0px;
      font-family: 'Merriweather';
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      position: absolute;
      right: 5%;
    }

    .more-gallery:before {
      content: " ";
      height: 1px;
      width: 60px;
      background: #fff;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      margin: 0px 7px 30px 0px;
      position: absolute;
      top: 26px;
      left: -75px;
    }
  }

  .grid-work {
    z-index: 2;
    position: relative;
    display: block;
    height: 912px;

    .fila {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      height: 100%;
      float: left;

      .item {
        border: 1px solid #111;
        background-position: 50% 50%;

        .informacion {
          background: rgba(0, 0, 0, 0.8);
          overflow: hidden;
          display: block;
          opacity: 0;
          width: 100%;
          height: 100%;
          padding: 10%;
          transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -webkit-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;

          position: relative;

          label {
            display: block;
            font-family: 'Poppins';
            font-size: 10px;
            letter-spacing: 1px;
            color: #929292;
            line-height: 20px;
            position: relative;
          }

          span {
            display: block;
            font-family: 'Poppins';
            font-size: 10px;
            letter-spacing: 1px;
            color: #fff;
            line-height: 20px;
            position: relative;
          }
        }

        .informacion:after {
          content: " ";
          display: block;
          position: absolute;
          bottom: 20px;
          right: 20px;
          background: url(../img/icon-info.png)no-repeat;

          background-position: 50% 50%;
          height: 50px;
          width: 50px;
          cursor: pointer;
        }
      }

      .item:hover {
        .informacion {
          opacity: 1;
        }
      }
    }

    .fila:last-child {
      width: 50%;
    }

    .fila:nth-child(1) {
      .item:nth-child(1) {
        display: block;
        height: 50%;
        width: 100%;
        background: url(../img/gallery1.jpg)no-repeat;
        background-position: center;
        background-size: cover;
      }

      .item:nth-child(2) {
        background: url(../img/gallery3.jpg)no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        height: 50%;
        width: 100%
      }
    }


    .fila:nth-child(2) {
      .item {
        display: block;
        height: 100%;
        width: 100%;
        background: url(../img/gallery2.jpg)no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    .fila:nth-child(3) {
      .item:nth-child(1) {
        display: block;
        width: 100%;
        height: 50%;
        background: url(../img/gallery4.jpg)no-repeat;
        background-position: center;
        background-size: cover;
      }

      .item:nth-child(2) {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        height: 50%;
        float: left;
        background: url(../img/gallery5.jpg)no-repeat;
        background-position: center;
        background-size: cover;
      }

      .item:nth-child(3) {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        height: 50%;
        float: left;
        background: url(../img/gallery6.jpg)no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  /*---04 Testimonials---*/
  section.testimonials {
    z-index: 2;
    position: relative;
    display: block;
    padding-top: 60px;
    margin-top: 40px;

    h2 {
      font-family: 'Merriweather';
      font-weight: 400;
      font-size: 35px;
      line-height: 50px;
      letter-spacing: 3px;
      font-weight: 100;
      color: #fff;
      margin: 40px 0px;
      z-index: 3;
      position: relative;
      text-align: center;
    }

    h2::after {
      content: " ";
      display: block;
      height: 100px;
      width: 1px;
      background: #fff;
      margin: 30px auto;
    }

    .count {
      .item {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        text-align: left;

        h3 {
          display: block;
          font-family: 'Merriweather';
          font-size: 30px;
          color: #fff;
          letter-spacing: 3px;
          position: relative;
          z-index: 2;
          text-decoration: none;
          margin-top: 100px;
        }

        label {
          display: block;
          position: relative;
          width: 170px;
          margin: 0px auto 40px auto;

          span {
            display: block;
            font-family: 'Poppins';
            font-size: 12px;
            letter-spacing: 2px;
            color: #fff;
            line-height: 26px;
            position: relative;
            margin-top: 6px;
            z-index: 3;
          }
        }

        label::after {
          content: " ";
          display: block;
          background: #6633ff;
          position: absolute;
          top: 22px;
          left: -10px;
          width: 100px;
          height: 20px;
          z-index: 1;
          transition: .3s ease-in-out;
          -moz-transition: .3s ease-in-out;
          -webkit-transition: .3s ease-in-out;
          -o-transition: .3s ease-in-out;
        }

        label::before {
          content: " ";
          display: block;
          background: #fff;
          height: 1px;
          width: 60px;
          position: absolute;
          top: 40px;
          left: -80px;
        }
      }

      .item:first-child {
        margin-left: 9%;
      }
    }

    .content-testimonials {
      position: relative;
      width: 100%;
      overflow: hidden;

      .box-testimonials {
        display: block;
        width: 120%;
        height: 400px;
        margin-left: -10%;

        .item {
          width: 33.33%;
          display: block;
          float: left;
          height: 100%;

          .information {
            height: 80%;
            width: 80%;
            background: url(../img/testimonial-bg.png)no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            margin: 10%;
            position: relative;

            b {
              font-size: 30px;
              display: block;
              font-family: 'Poppins';
              letter-spacing: 5px;
              color: #fff;
              line-height: 30px;
              font-weight: bold;
              position: absolute;
              top: 20px;
              left: 20px;
              z-index: 3;
            }

            .image {
              display: inline-block;
              vertical-align: top;
              width: 200px;
              height: 200px;
              margin-top: 15%;
              margin-left: 10%;
              text-align: center;

              img {
                width: 80%;
                margin: auto;
              }

              h3 {
                display: block;
                font-family: 'Poppins';
                font-size: 20px;
                letter-spacing: 1px;
                color: #fff;
                line-height: 30px;
              }

              span {
                display: block;
                font-family: 'Poppins';
                font-size: 10px;
                letter-spacing: 1px;
                color: #fff;
                line-height: 20px;
              }
            }

            .text {
              display: inline-block;
              vertical-align: top;
              width: 50%;
              color: #fff;
              position: absolute;
              right: -40px;
              top: 30%;

              p {
                display: block;
                font-family: 'Poppins';
                font-size: 8px;
                letter-spacing: 1px;
                color: #fff;
                line-height: 20px;
                position: relative;
                margin-top: 40px;
              }
            }

            .text::before {
              content: " ";
              display: block;
              width: 100px;
              height: 1px;
              background: 1px;
              position: absolute;
              left: -50px;
              top: 9px;
              background: #fff;
            }
          }

          .information::before {
            content: " ";
            display: block;
            background: #6633ff;
            position: absolute;
            top: 29px;
            left: -20px;
            width: 60px;
            height: 20px;
            z-index: 1;
            transition: .3s ease-in-out;
            -moz-transition: .3s ease-in-out;
            -webkit-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;

          }
        }
      }

      .navs {
        display: block;
        width: 500px;
        height: 20px;
        text-align: center;
        margin: 40px auto;

        .next {
          display: inline-block;
          vertical-align: top;
          width: 33%;
          font-family: 'Poppins';
          font-size: 10px;
          letter-spacing: 1px;
          color: #fff;
          line-height: 20px;
          position: relative;
          float: left;
          text-align: left;
          cursor: pointer;
        }

        .next:before {
          content: " ";
          display: block;
          width: 60px;
          height: 1px;
          background: 1px;
          position: absolute;
          left: 60px;
          top: 9px;
          background: #fff;
        }

        .count {
          display: inline-block;
          vertical-align: top;
          width: 33%;
          font-family: 'Poppins';
          font-size: 10px;
          letter-spacing: 1px;
          color: #fff;
          line-height: 20px;
          position: relative;
          float: left;
        }

        .prev {
          display: inline-block;
          vertical-align: top;
          width: 33%;
          font-family: 'Poppins';
          font-size: 10px;
          letter-spacing: 1px;
          color: #fff;
          line-height: 20px;
          position: relative;
          float: left;
          text-align: right;
          cursor: pointer;
        }

        .prev:before {
          content: " ";
          display: block;
          width: 60px;
          height: 1px;
          background: 1px;
          position: absolute;
          right: 60px;
          top: 9px;
          background: #fff;
        }
      }
    }
  }

  section.price {
    z-index: 2;
    position: relative;
    display: block;
    padding-top: 60px;

    .title {
      margin: auto;
      position: relative;
      padding-bottom: 100px;

      h2 {
        font-family: 'Merriweather';
        font-weight: 400;
        font-size: 35px;
        line-height: 50px;
        letter-spacing: 3px;
        font-weight: 100;
        color: #fff;
        margin: 20px 0px;
        z-index: 3;
        position: relative;
      }

      h2::after {
        content: " ";
        display: block;
        height: 1px;
        width: 100px;
        background: #fff;
        margin: 30px 0px;
        margin-left: -50px;
      }

      p {
        display: block;
        font-family: 'Poppins';
        font-size: 12px;
        letter-spacing: 2px;
        color: #fff;
        line-height: 26px;
        position: relative;
        margin-top: 20px;
        z-index: 3;
        width: 50%;
      }

      b {
        position: absolute;
        z-index: 1;
        font-family: 'Poppins';
        font-size: 200px;
        font-weight: bold;
        color: #0f0f0f;
        letter-spacing: 30px;
        line-height: 154px;
        height: 154px;
        text-align: center;
        bottom: -10%;
        left: -10%;
        overflow: hidden;
      }
    }

    .content-price {
      height: 912px;
      z-index: 2;
      position: relative;
      display: block;

      .item {
        display: inline-block;
        vertical-align: top;
        width: 25%;
        height: 100%;
        float: left;
        overflow: hidden;
        padding: 5% 40px;
        position: relative;

        label {
          display: block;
          position: relative;
          width: 170px;
          margin: 0px 0px 40px 0px;
        }

        label::after {
          content: " ";
          display: block;
          background: #6633ff;
          position: absolute;
          top: 60px;
          left: -25px;
          width: 180px;
          height: 25px;
          z-index: 1;
          transition: .3s ease-in-out;
          -moz-transition: .3s ease-in-out;
          -webkit-transition: .3s ease-in-out;
          -o-transition: .3s ease-in-out;
        }

        h2 {
          display: block;
          font-family: 'Merriweather';
          font-size: 20px;
          line-height: 40px;
          color: #fff;
          letter-spacing: 3px;
          position: relative;
          z-index: 2;
          text-decoration: none;
        }

        h4 {
          display: block;
          font-family: 'Poppins';
          font-size: 10px;
          letter-spacing: 1px;
          color: #929292;
          line-height: 20px;
          position: relative;
          text-transform: uppercase;
        }

        span {
          display: block;
          font-family: 'Poppins';
          font-size: 10px;
          letter-spacing: 1px;
          color: #fff;
          line-height: 20px;
          position: relative;
        }
      }

      .item:nth-child(1) {
        background: url(../img/overlay1.jpg)no-repeat;
        background-size: cover;
        background-position: 50% 50%;
      }

      .item:nth-child(2) {
        background: url(../img/overlay2.jpg)no-repeat;
        background-size: cover;
        background-position: 50% 50%;
      }

      .item:nth-child(3) {
        background: url(../img/overlay3.jpg)no-repeat;
        background-size: cover;
        background-position: 50% 50%;
      }

      .item:nth-child(4) {
        background: url(../img/overlay4.jpg)no-repeat;
        background-size: cover;
        background-position: 50% 50%;
      }

      .item:last-child .number-item {
        font-size: 14px;
        bottom: 46px;
      }

      .number-item {
        position: absolute;
        bottom: 40px;
        left: 40px;
        display: block;
        font-family: 'Merriweather';
        font-size: 30px;
        color: #fff;
        letter-spacing: 0px;
        z-index: 2;
        text-decoration: none;
      }

      .explore {
        position: absolute;
        bottom: 40px;
        right: 40px;
        display: inline-block;
        vertical-align: top;
        color: #fff;
        padding: 7px 0px;
        font-family: 'Merriweather';
        font-weight: 400;
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      .explore::before {
        content: " ";
        height: 1px;
        width: 60px;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin: 0px 7px 30px 0px;
        position: absolute;
        top: 13px;
        left: -75px;
      }
    }
  }

  section.content-logo {
    width: 80%;
    margin: 100px auto;
    text-align: center;

    .logo {
      display: inline-block;
      vertical-align: top;
      width: 24%;
      text-align: center;
      overflow: hidden;
      margin: 40px 0px;
    }
  }

  section.form-newsletter {
    h2 {
      font-family: 'Merriweather';
      font-weight: 400;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 3px;
      font-weight: 100;
      color: #fff;
      text-align: center;
      position: relative;
      font-style: italic;
    }

    h2:after {
      content: " ";
      display: block;
      height: 100px;
      width: 1px;
      background: #fff;
      margin: 50px auto 0px auto;
    }

    form {
      width: 450px;
      height: 70px;
      position: relative;
      margin: 60px auto 40px auto;

      input[type=email] {
        width: 70%;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        float: left;
        background: transparent;
        border: 1px solid #fff;
        padding-left: 30px;
        color: #fff;
        border-right: none;
        font-family: 'Poppins';
        font-size: 14px;
        letter-spacing: 2px;
      }

      input[type=submit] {
        width: 30%;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        float: left;
        text-align: center;
        border: 1px solid #fff;
        background: transparent;
        font-family: 'Poppins';
        font-size: 12px;
        line-height: 0px;
        letter-spacing: 2px;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }

  section.content-about {
    h1 {
      font-family: 'Merriweather';
      font-weight: 400;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 3px;
      font-weight: 100;
      color: #fff;
      text-align: center;
      position: relative;
      margin-top: 100px;
    }

    h1:before {
      content: " ";
      display: block;
      width: 90px;
      height: 60px;
      background: url(../img/quote.png)no-repeat;
      background-position: 50% 50%;
      margin: 0px auto 40px auto;
    }

    h1:after {
      content: " ";
      display: block;
      height: 100px;
      width: 1px;
      background: #fff;
      margin: 50px auto 0px auto;
    }

    .grid-about {
      display: block;
      margin: auto;
      padding: 0px 38px;

      .item {
        display: block;
        margin-top: 100px;
        margin-bottom: 40px;

        .description {
          display: inline-block;
          vertical-align: top;
          width: 59%;
          padding: 40px 5%;

          span {
            display: block;
            font-family: 'Poppins';
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 4px;
            color: #fff;
            line-height: 26px;
            text-transform: uppercase;
            padding-left: 30px;
          }

          h2 {
            font-family: 'Merriweather';
            font-weight: 400;
            font-size: 35px;
            line-height: 50px;
            letter-spacing: 3px;
            font-weight: 100;
            color: #fff;
            margin: 20px 0px;
            padding-left: 30px;
          }

          p {
            display: block;
            font-family: 'Poppins';
            font-size: 12px;
            letter-spacing: 1px;
            color: #fff;
            line-height: 26px;
            padding-left: 100px;
            position: relative;
          }

          p:before {
            content: " ";
            display: block;
            height: 1px;
            width: 70px;
            top: 8px;
            left: -2%;
            background: #fff;
            position: absolute;
          }
        }

        .image {
          display: inline-block;
          vertical-align: top;
          width: 40%;
          position: relative;

          b {
            display: block;
            font-family: 'Poppins';
            font-size: 80px;
            letter-spacing: 2px;
            font-weight: bold;
            color: #fff;
            position: absolute;
            left: -40px;
            top: -60px;
            z-index: 3;

            transition: .3s ease-in-out;
            -moz-transition: .3s ease-in-out;
            -webkit-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
          }

          img {
            width: 100%;
            z-index: 2;
            position: relative;
          }
        }

        .image::after {
          content: " ";
          display: block;
          position: absolute;
          right: -60px;
          bottom: -60px;
          height: 140px;
          width: 140px;

          background: url(../img/point-about.png)no-repeat;
          background-size: contain;
          background-position: 50% 50%;
          z-index: 1;

          transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -webkit-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
        }
      }

      .item:hover b {
        top: -40px;

        .image:after {
          right: -40px;
          bottom: -40px;
        }
      }

    }
  }

  section.content-info {
    margin: 150px 0px 100px 0px;
    display: block;

    .item {
      display: inline-block;
      vertical-align: top;
      width: calc(98% / 3);
      text-align: left;

      h2 {
        display: block;
        font-family: 'Merriweather';
        font-size: 20px;
        color: #fff;
        letter-spacing: 2px;
        margin-bottom: 20px;
      }

      h2:after {
        content: " ";
        display: block;
        width: 50px;
        height: 1px;
        background: #fff;
        margin: 20px 0px 10px 0px;
      }

      h3 {
        display: block;
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 12px;
        color: #fff;
        letter-spacing: 2px;
        line-height: 24px;
      }

      label {
        display: block;
        font-family: 'Poppins';
        font-size: 12px;
        letter-spacing: 1px;
        color: #969696;
        line-height: 24px;
      }
    }

  }

  section.content-video {
    display: block;
    margin: 100px 0px;
    height: 500px;
    background: url(../img/video.jpg)no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;

    .play {
      font-family: 'Poppins';
      font-size: 12px;
      line-height: 0px;
      letter-spacing: 2px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      background: #111111;
      width: 100px;
      border-radius: 400px;
      text-align: center;
      padding: 50px 0px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -50px;
      transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
    }
  }

  section.content-contact {
    padding: 80px 0px 60px 0px;
    overflow: hidden;
    position: relative;

    h1 {
      position: absolute;
      z-index: 1;
      font-family: 'Poppins';
      font-size: 200px;
      font-weight: bold;
      color: #0f0f0f;
      letter-spacing: 20px;
      line-height: 154px;
      bottom: 0px;
      right: -150px;
    }

    .box {

      margin: auto;
      display: block;
      position: relative;
      z-index: 2;

      h2 {
        display: block;
        font-family: 'Merriweather';
        font-size: 58px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 4px;
        padding-bottom: 20px;
        position: relative;
      }

      h2:after {
        content: " ";
        width: 100px;
        height: 1px;
        position: absolute;
        left: -50px;
        bottom: 0px;
        background: #fff;
      }

      .text {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        padding-top: 30px;

        p {
          display: block;
          width: 90%;
          display: block;
          font-family: 'Poppins';
          font-size: 14px;
          letter-spacing: 1px;
          color: #fff;
          line-height: 26px;
        }

        label {
          display: block;
          position: relative;
        }

        label:after {
          content: " ";
          display: block;
          background: #6633ff;
          position: absolute;
          top: -14px;
          left: -25px;
          width: 100px;
          height: 25px;
          z-index: 1;
          transition: .3s ease-in-out;
          -moz-transition: .3s ease-in-out;
          -webkit-transition: .3s ease-in-out;
          -o-transition: .3s ease-in-out;
        }

        a {
          display: block;
          font-family: 'Merriweather';
          font-size: 14px;
          text-transform: uppercase;
          color: #fff;
          letter-spacing: 2px;
          margin-top: 140px;
          position: relative;
          z-index: 2;
          text-decoration: none;
        }
      }

      #map {
        display: inline-block;
        vertical-align: top;
        width: 69%;
        height: 450px;
        -webkit-box-shadow: 2px 2px 40px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 2px 40px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 40px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }

  footer {
    padding: 50px 0% 20px 0%;
    display: block;
    z-index: 2;


    .item {
      display: inline-block;
      vertical-align: top;
      width: 30%;
      text-align: left;

      h2 {
        display: block;
        font-family: 'Merriweather';
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 2px;
        margin-bottom: 20px;
      }

      label {
        display: block;
        font-family: 'Poppins';
        font-size: 12px;
        letter-spacing: 1px;
        color: #fff;
        line-height: 24px;

        a {
          display: inline-block;
          text-decoration: underline;
          line-height: 0px;
        }
      }

      a {
        display: block;
        font-family: 'Poppins';
        font-size: 12px;
        letter-spacing: 1px;
        color: #fff;
        line-height: 24px;
      }
    }

    .item:first-child {
      margin-left: 0%;
    }
  }
}